################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MatchingGame/.vs/*
/MatchingGame/MatchingGame/bin/Debug
/MatchingGame/MatchingGame/obj/Debug
